.DS_Store
manuscript/fabmogp_paper.pdf
manuscript/lhc_values.tex
manuscript/validation_points.tex
manuscript/covariance_scale.tex
manuscript/correlation_lengths.tex
manuscript/figure[1-4].pdf
response/fabmogp_response.pdf
